h1,h2,h3,h4,h5,h6 {
            margin-top: 0px;
            margin-bottom: 0px; 
            color: rgb(0, 0, 0);
            }
        
        body {
            position: relative;
            font-size: 15px;
            background-image: url(https://landville.nekoweb.org/img/wqeqwewee.png);

    background-repeat: no-repeat;

        }
     ::selection {
  color: white;
  background-color: black;
}   
img {
	filter: grayscale(100%);
}
img:hover
{
	filter: none;
}

p:hover {
	
    font-style: italic;
}

 
        p {
            margin-top: 13px;
            margin-bottom: 13px;
        }
        
        
        a:hover {
            font-style: italic;
            color: red
        }
        
        a:visited {
          color: royalblue;
        }
        
        .box {
            background-color: white;
            width:500px;
            border: 2px dotted;
            padding-right: 15px;
            padding-left: 15px;
            margin-bottom: 15px;
            line-height: 1.3;
        }
        .funbox {
            background-color: white;
            width:500px;
            border: 2px dotted;
            padding: 15px 45px 15px 45px;
            margin-bottom: 15px;
            line-height: 1.5;
        }
        
        .infobox {
            background-color: white;
            width:500px;
            border: 2px dotted;
            padding: 15px;
            margin-bottom: 15px;
            line-height: 1.3;
        }
        
        
        table, th, td {
          border: 1px solid;
          border-collapse: collapse;
          padding: 5px;
        }
        
        summary:hover {
            font-style: italic;
        }
      